@model List<SchoolProjectWeb.Models.Evaluation>

@{
    ViewData["Title"] = "Evaluaciones";
}

<h1>Evaluaciones</h1>

<p>
    <a asp-action="CreateEvaluation">Crear Nueva Evaluación</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evaluation in Model)
            {
                <tr>
                    <td>@evaluation.Title</td>
                    <td>@evaluation.Description</td>
                    <td>@evaluation.Date.ToShortDateString()</td>
                    <td>
                        <a href="@Url.Action("AssignGrades", "Admin", new { evaluationId = evaluation.EvaluationID })" class="btn btn-success btn-sm">Asignar Calificaciones</a>
                        <a href="@Url.Action("EditEvaluation", "Admin", new { id = evaluation.EvaluationID })" class="btn btn-warning">Editar</a>
                        <form asp-action="DeleteEvaluation" method="post" asp-route-id="@evaluation.EvaluationID" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta evaluación?');">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron evaluaciones.</p>
}